.project-wrapper {
  width: 40%;
  height: 100%;
  border-radius: 20px;
  box-shadow: var(--shadow-l1);
  flex-direction: row;
  margin-left: 600px;
  margin-top: 45px;
  @media (min-width: 1260px) and (max-width: 1400px) {
    margin-left: 550px;
  }
  @media (max-width: 1260px) {
    margin-left: 500px;
  }
  &__text {
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin-bottom: 10px;
    border-radius: 20px;
    &__dark {
      background-color: white;
      color: black;
    }
    &__light {
      background-color: #424242;
      color: white;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid;
  }
  &__icon {
    height: 25px;
    width: 25px;
    fill: white;
    cursor: pointer;
    background-color: #424242;
    margin-bottom: 10px;
    &__dark {
      background-color: white;
      fill: black;
    }
    &__light {
      background-color: #424242;
      fill: white;
    }
  }
}
