.tabs-wrapper {
  flex-direction: column;
  width: 25%;
  height: 100%;
  padding: 40px;
  display: flex;
  position: fixed;
  overflow: hidden;
  &__avatar {
    width: 125px;
    height: 125px;
    border-radius: 100%;
    box-shadow: var(--shadow-l1);
    margin-left: 30px;
    &__light {
      border: 2px solid black;
    }
    &__dark {
      border: 2px solid white;
    }
  }
  &__icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 20px;
    &__light {
      fill: black;
    }
    &__dark {
      fill: white;
    }
  }
  &__text {
    width: 80%;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 0 10px;
    &__light {
      color: black;
    }
    &__dark {
      color: white;
    }
  }
  &__name {
    font-size: 20px;
    height: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 20px;
    &__light {
      color: black;
    }
    &__dark {
      color: white;
    }
  }
  &__job {
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    margin-left: 20px;
    &__light {
      color: black;
    }
    &__dark {
      color: white;
    }
  }
}

body,
html {
  margin: 0;
}
